<h1>CoLeadr</h1> 
<hr>

<a href="users/sign_up"><button type="button">New User Sign Up</button></a>
<a href="users/sign_in"><button type="button">Existing User Log In</button></a>

<%= link_to "Create Organization", new_account_path %>

<hr>
<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
		 
		