<h3>CoLeadr is a web app meant to help leaders of small organizations better manage their membership data, scheduling and planning process.</h3>
<p>It was originally designed as a response to a new Girl Scout leader asking for troop management software recommendations.  The troop he managed was brand new, and did not have the budget to buy a program-specific, licensed software package.</p>