<div ng-controller="defaultCtrl">
	<div class="navbar navbar-fixed-top navcolor">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="btn btn-primary navbar-toggle" style="background-color: blue;" data-toggle="collapse" data-target=".navbar-collapse"> Ugly Menu Button</button>
				<!--TITLE!!!!!!-->
				<h1 class="appName">CoLeadr</h1>
			</div>
		</div>
		<!--here be navigation!-->
		<div class="container" role="navigation">
			<div class="row">
				<div class="navbar-collapse collapse" role="navigation"> 
					<ul class="nav nav-tabs">
						<li id="dash" role="presentation"><a href="#/dashboard">Dashboard</a></li>
						<li id="members"role="presentation"><a href="#/members">Members</a></li>
						<li id="groups"role="presentation"><a href="#/groups">Groups</a></li>
						<li id="projects"role="presentation"><a href="#">Projects</a></li>
						<li id="events"role="presentation"><a href="#">Events</a></li>
						<div style="float:right;">
							<ul class="nav nav-tabs"> 
								<li id="org"role="presentation"><a href="#/organization">Organization</a></li>
								<li id="leader"role="presentation"><a href="#">Leader Details</a></li>
								<% if user_signed_in? %>
								  <li>
								  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
								  </li>
								<% else %>
								  <li>
								  <%= link_to('Log In Existing User/Organization', new_user_session_path)  %> |
								  <%= link_to "Create Organization", new_account_path %>
								  </li>
								<% end %>
							</ul>
						</div>
					</ul>
				</div>
			</div>
		</div>
		<div class="container contentcontainer" role="content" id="appcontentcontainer" data-organization-id="<%= @organization.id %>">
			<div ng-view>
				<!--this is where the partials are loaded!-->
			</div>
		</div> 
	</div>
</div>
