<!DOCTYPE html>
<html>
<head>
 <title>Coleadr v.0.3</title>

<%= stylesheet_link_tag 'application' %>
<%= javascript_include_tag 'application' %>

</head>
<body ng-app="coleadrApp">
	<%= yield %>
</body>
</html>